.btnn {
    width: 100px;
    height: 40px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}

.active {
    background-color: red;
}

.primary {
    background-color: #0984e3;
    color: #fff;
}