.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  padding: 10px 30px;
  margin-bottom: 15px;
}

button{
  padding: 10 20px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

button.btn{
  height: 35px;
  width: 100px;
  border-radius: 10px;
}

.dark{
  background-color: #000;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  transition: all 0.5s ease-in-out;
}

.light{
  background-color: #ccc;
  color: #111;
  box-shadow: 0 0 2px #111;
  transition: all 0.5s ease-in-out;
}